{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-3"
    ],
    "plugins":[
        "transform-class-properties",
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ]
}